:root {
  /* height */
  --height-header: 6vh;
  --height-contents: 95%;
  /* height */
  --padding-height: 20px 20px 10px 20px;
  /* Color */
  --color-green: #2a6d5b;
  --color-yellow: #f0d711;
  --color-gray: #fafafa;
  /* Shadow */
  --tw-shadow: 5px 0 25px 0 #5e5c9a1a;
  --tw-shadow-colored: 5px 0 25px 0 #5e5c9a1a;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.min-h-screen {
  min-height: 100vh;
}

.header {
  height: var(--height-header);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* box-shadow: rgba(0, 0, 0, 0.30) 0px -10px 5px -10px inset; */
}
.header-left-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--height-header);
  width: 200px;
  margin-left: 10px;
}
.header-right-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  height: var(--height-header);
  width: 200px;
  margin-right: 20px;
}
.btntogleheader {
  margin: 0 10px !important;
  color: var(--color-green);
  /* background-color: var(--color-green); */
  border-color: var(--color-green);
}
/* =========================== Header user info =========================== */
.ant-popover {
  width: 250px;
}
.middle-line {
  margin: 10px 0px;
}
/* =========================== Contents =========================== */
.main-contents {
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 94vh;
}
/* .ant-menu{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px inset ;
} */
.content {
  width: 100%;
  padding: 20px;
  background-color: var(--color-gray);
  position: relative;
  /* border: 1px solid red; */
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px inset;
}

.left-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--color-white);
  margin-right: 10px;
  height: var(--height-contents);
  padding: var(--padding-height);
  border-radius: 10px;
}

.right-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--color-white);
  margin-left: 10px;
  height: var(--height-contents);
  padding: var(--padding-height);
  border-radius: 10px;
}

.ant-form-item {
  margin-bottom: 10px !important;
}

.ant-form-item-label {
  padding: 0 0 3px !important;
}
/* =========================== Side bar =========================== */
:where(.css-dev-only-do-not-override-1sn0ohr).ant-menu-inline {
  width: 20% !important;
}
/* =========================== responsive =========================== */
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1200px) {
  .contents {
    height: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
